<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Esse site é fictício, não possui nenhum objetivo real de compra e venda de produtos, foi criado apenas para fins de estudo.
            </p>
            <p class="footer__about-text">
            Eu me chamo Henrique e sou desenvolvedor, a tecnologia que mais tenho conhecimento é java. Atualmente estou aprendendo mais sobre front-end com o framework Angular.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li>
                    <i class="fa-solid fa-envelope"></i>
                    lorem@lorem.com
                </li>
                <li>
                    <i class="fa-solid fa-phone"></i>
                    (00) 99999-9999
                </li>
                <li>
                    <i class="fa-brands fa-whatsapp"></i>
                    (00) 99999-9999
                </li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>
